.search-container {
    .sorting {
        text-align: right;
        select {
            width: 50%
        }
    }
    input[type="search"] {
        width: 40%;
        display: inline;
    }
    button {
        border: 1px solid #333;
        padding: 10px 20px;
        background: #ccc;
    }
}

.selectted-filter {
    margin-top: 30px;
    ul {
        margin-left: 0;
        li {
            list-style: none;
            display: inline-block;
            padding: 2px 30px;
            background: #808080;
            color: #fff;
            border-radius: 5px;
            margin-right: 5px;
            a {
                color: #fff;
                margin-left: 5px;
            }
        }
    }
}